<%= form_for(@review) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
		<%= f.label :movie %><br>
		<h2><%= @movie.title%></h2>
			<%= f.hidden_field :m_id, :value => @movie.id %>
	</div>
  <div class="field">
    <%= f.label :comments %>(optional)<br>
    <%= f.text_field :comments %>
  </div>
  <div class="field">
    <%= f.label :email %>*<br>
		<%= f.email_field :email, :required=>true%>
  </div>
  <div class="field">
    <%= f.label :rating %>*<br>
    <%= f.select :rating, [1,2,3,4,5], :required=>true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
